<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<script>
    setTimeout(function(){
        window.location.reload(1);
        }, 2000);
</script>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Hotshots Courts</title>
</head>
<body>
    <h1>
        Hotshots Live Scores
    </h1>
    <font size="7" face="Courier New" >
    <table style="width:50%">
        <tr rowpan="2">
          <th colspan="5">COURT {{games[0].courtname}}</th>
        </tr>
        <tr>
          <td colspan="2" bgcolor="#FEC1C1">{{games[0].team1}}</td>
          <td colspan="2" bgcolor="#A3D5FF">{{games[0].team2}}</td>
          <td>GAME</td>
        </tr>
        <tr rowspan="2">
          <td colspan="2" textcolor="blue">{{games[0].score1}}</td>
          <td colspan="2" textcolor="red">{{games[0].score2}}</td>
          <td>{{games[0].gamenum}}</td>
        </tr>
      </table>
</body>
</html>
